$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$orange: #ff7a15;
$orange-dark: #ba590f;
$orange-light: #f38600;
$magenta: #d60b52;
$blue: #0b4c91;
$blue-light: #008fc9;
$blue-dark: #435260;
$blue-darker: #2f404e;
$brown: #935b22;
$green-light: #8ab317;
$green-light: #8ab317;
$yellow: #fbe000;
$grey-dark: #2f3434;
$grey-darker: #262626;
$grey-light: #f3f3f3;
$black-on-white: #919191;
$black-85: #1C1C1C;


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $magenta;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$link-color: $orange;

$theme-colors: ();
$theme-colors: map-merge(
    (
      "primary":    $primary,
      "secondary":  $secondary,
      "success":    $success,
      "info":       $info,
      "warning":    $warning,
      "danger":     $danger,
      "light":      $light,
      "dark":       $dark,
      "magenta":   $magenta
    ),
    $theme-colors
);
