/*! purgecss start ignore */
.theme {

  &--magenta {
    .kontakt__below-box,
    .navigation__below {
      background-color: $magenta;
      color: #fff;
    }
  }

  &--brown {
    .kontakt__below-box,
    .navigation__below {
      background-color: $brown;
    }
  }

  &--orange {
    .kontakt__below-box,
    .navigation__below {
      background-color: $orange;
    }
  }

  &--light-orange {
    .kontakt__below-box,
    .navigation__below {
      background-color: $orange-light;
    }
  }

  &--blue {
    .kontakt__below-box,
    .navigation__below {
      background-color: $blue;
    }
  }

  &--light-blue {
    .kontakt__below-box,
    .navigation__below {
      background-color: $blue-light;
    }
  }

  &--green {
    .kontakt__below-box,
    .navigation__below {
      background-color: $green;
    }
  }

  &--light-green {
    .kontakt__below-box,
    .navigation__below {
      background-color: $green-light;
    }
  }

  &--yellow {
    .kontakt__below-box,
    .navigation__below {
      background-color: $yellow;
      color: $body-color;

      @include hover-focus-active {
        color: $body-color;
      }
    }
  }

  &--light-blue {
    .kontakt__below-box,
    .navigation__below {
      background-color: $blue-light;
    }
  }

  &--light-grey {
    .kontakt__below-box,
    .navigation__below {
      background-color: $black-on-white;
    }
  }
}
/* purgecss end ignore */
