//
// body Scaling
//
@each $breakpoint in map-keys($text-scaling) {
  @include media-breakpoint-up($breakpoint) {
    $scaling: map-get($text-scaling, $breakpoint);
    body { font-size: $font-size-base * $scaling; }
  }
}