@import 'colors';
// @import 'fonts';
@import "~bootstrap/scss/functions";
@import 'variables';
@import 'bootstrap';
@import "typography";
@import "heading";
@import "icons";
@import "themes";

/*! purgecss start ignore */
.frame-default {
  @extend .container;
}

.btn {
  border-radius: 0;

  &-secondary {
    color: $magenta;
    background-color: $white;
    border-color: $magenta;
    font-weight: 600;

    &:hover {
      background-color: $magenta;
      color: $white;
      border-color: $white;
    }
  }

  &--next {
    color: $magenta;
    font-weight: 600;
    font-style: italic;

    &:hover {
      color: $magenta;
    }

    &:after {
      content: "➔";
      font-size: 170%;
      line-height: 1;
      margin-left: 5px;
      transition: margin-left 0.5s;
      top: 3px;
      position: relative;
    }
    &:hover:after {
      margin-left: 10px;
    }
  }
}
.swiper-controls {
  display: none;
}
@include media-breakpoint-up(lg) {
  .swiper-controls {
    display: block;
  }

  .swiper-controls .swiper-button-next {
    right: -15px !important;

    &:after {
      font-weight: bold;
    }
  }
  .swiper-controls .swiper-button-prev {
    left: -15px !important;

    &:after {
      font-weight: bold;
    }
  }
}

.ce-frame {
  margin-bottom: 4rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 8rem;
  }

  &-default {
    @include make-container();
    // Responsive containers that are 100% wide until a breakpoint
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        max-width: $container-max-width;
      }
    }

  }
}
