<template>
  <div class="content">
    <header-main with-banner>
      <template v-slot:logo>
        <nuxt-link
          v-if="navMain.link"
          :to="navMain.link"
          class="flex h-full items-center w-80"
        >
          <logo :width="200" />
        </nuxt-link>
      </template>
      <template v-slot:navigation>
        <navigation-main :links="navMain.children" />
      </template>
    </header-main>
    <ce-renderer :content="content.colPos0" />
  </div>
</template>
<script>
import { mapState } from 'vuex'

import BeDefault from '~typo3/layouts/backend/BeDefault'

export default {
  components: {},
  extends: BeDefault,
  computed: {
    ...mapState({
      navMain(state) {
        // get first instance from root tree,
        return (state.typo3.initial.navigation &&
          state.typo3.initial.navigation.length) > 0
          ? state.typo3.initial.navigation[0]
          : []
      },
      breadcrumbs: (state) =>
        state.typo3.page.page ? state.typo3.page.page.breadcrumbs : [], // get breadcrumbs for current page,
      currentLanguage: (state) => state.typo3.locale,
      availableLanguages: (state) => state.typo3.page.languages,
      theme: (state) => {
        try {
          switch (state.typo3.page.page.appearance.theme) {
            case 1:
              return 'theme--magenta'
            case 2:
              return 'theme--brown'
            case 3:
              return 'theme--orange'
            case 4:
              return 'theme--blue'
            case 5:
              return 'theme--dark-blue'
            case 6:
              return 'theme--light-blue'
            case 7:
              return 'theme--green'
            case 8:
              return 'theme--yellow'
            case 9:
              return 'theme--light-grey'
            case 10:
              return 'theme--light-green'
            case 11:
              return 'theme--light-orange'
            default:
              return 'theme--dark'
          }
        } catch (e) {}
      },
      colPos3: (state) => {
        try {
          return state.typo3.page.content.colPos3
        } catch (e) {
          return undefined
        }
      }
    })
  },

  watch: {
    colPos3(newVal) {
      this.loadTeaser()
    }
  },
  mounted() {
    this.loadTeaser()
    this.$store.commit('mobileMenu/close')
  },
  methods: {
    loadTeaser() {
      try {
        const teaser = this.colPos3.find((x) => x.type === 'heroteaser')
        if (teaser) {
          this.$store.commit('teaser/teaser', teaser)
        } else {
          this.$store.commit('teaser/teaser', null)
        }
      } catch (e) {
        this.$store.commit('teaser/teaser', null)
      }
    }
  },
  head() {
    return {
      bodyAttrs: {
        class: this.theme ? this.theme : ''
      }
    }
  }
}
</script>
