<template>
  <div class="header-main sticky-top">
    <slot name="before" />

    <div class="bg-primary">
      <div class="container">
        <div class="row sdl-header-se_content">
          <div class="col col-md-3">
            <slot name="logo" />
          </div>

          <div class="col-md-8 col-xl-9 sdl-header-se_main">
            <!-- Search -->
            <!-- // Search // -->

            <!-- Megamenu -->
            <div class="sdl-header-se_mm-wrap">
              <slot name="navigation" />
            </div>
            <!-- // Megamenu // -->
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="bg-primary">
      <div class="container flex">
        <div class="header-main__logo mr-10 px-6 bg-white flex items-center">
          <slot name="logo" />
        </div>
        <div class="header-main__nav flex-1">
          <slot name="navigation" />
        </div>
      </div>
    </div>
    -->
    <slot name="after" />
  </div>
</template>
<script>
export default {
  name: 'HeaderMain'
}
</script>
